body{
    background-color: rgba(35, 44, 44, 0.9);
    background: rgba(35, 44, 44, 0.9);
    color: rgba(35, 44, 44, 0.9);
}
h1{
    color: rgb(255,255,255);
    text-align: center;
}
.divs{
    width: 10%;
    border-radius: 3px;
    border: 1px solid;
    font-size: 18px;
    font-family: sans-serif;
    float: left;
    margin: 50px;
    text-align: center;
    padding: 100px;
    -moz-box-shadow:10px 10px 5px #000000;
    -webkit-box-shadow:10px 10px 5px #000000;
    box-shadow:10px 10px 5px #000000;
}
.si{
    background-color: rgba(0, 255, 0, 0.6);
    color: rgb(255,255,255);
}
.no{
    background-color: rgba(255, 2, 0, 0.5);
    color: rgb(255,255,255);
}
#center{
    width: 800px;
    margin: auto;
}
.status{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 18px;
}
.online{
    color: rgba(0, 255, 0, 1);
    font-size: 18px;
}
.offline{
    color: rgba(255, 0, 0, 1);
    font-size: 18px;
} 